<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<listeners>
    <listener class-name="org.udemi.PageObject.Utiles.Listeners"></listener>
</listeners>
    <!-- Android Tests -->
    <test name="Android Tests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.AndroidTests.HybridEnd">
                <methods>
                    <include name="shopmultiple"/>
                </methods>
            </class>
            <class name="org.AndroidTests.TestCaseFillingFormFromCard">
                <methods>
                    <include name="fill_formNegative"/>
                    <include name="fill_formPositive"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- iOS Tests -->
    <test name="iOS Tests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.AppleTests.IOSTestObjects">
                <methods>
                    <include name="IOSTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>